﻿@page
@model OdeTofood.Pages.Restaurants.ListModel
@{
}
 
<h1>RestaurantsFood</h1>

<table class="table">
   <form method="get">
       <div class="form-group">
           <div class="input-group">
               <input type="search" class="form-control" 
                      asp-for="SearchTerm" />
               <span class="input-group-btn">
                  <button class="btn btn-default">
                       <i class="btn btn-primary">Buscar</i>
                   </button>
               </span>

           </div>
           
       </div>
   </form>
   @foreach(var restaurant in Model.Restaurants)
   { 
       <tr>
           <td>@restaurant.Name</td>
           <td>@restaurant.Location</td>
           <td>@restaurant.cuisine</td>
           <td>
               <a class="btn btn-lg"
                  asp-page="./Detail"
                  asp-route-restaurantId="@restaurant.Id">
                   <i class="btn btn-primary">Enter</i>
               </a>
               <a class="btn btn-lg"
                  asp-page="./Edit"
                  asp-route-restaurantId="@restaurant.Id">
                   <i class="btn btn-primary">Edit</i>
               </a>
           </td>
       </tr>
   }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Add New</a>
<div>@Model.Message</div>